{# once with whitespace control #}
{%- javascripts
    '@TestBundle/Resources/assets/an-asset.js' -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{%- endjavascripts -%}

{# and once without whitespace control #}
{% javascripts
    '@TestBundle/Resources/assets/an-asset.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div>
    {# once indented with whitespace control #}
    {%- javascripts
        '@TestBundle/Resources/assets/an-asset.js' -%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}

    {# and once indented without whitespace control #}
    {% javascripts
        '@TestBundle/Resources/assets/an-asset.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</div>
