{# once with whitespace control #}
<script type="text/javascript" src="Resources/assets/an-asset.js"></script>

{# and once without whitespace control #}
<script type="text/javascript" src="Resources/assets/an-asset.js"></script>

<div>
    {# once indented with whitespace control #}
    <script type="text/javascript" src="Resources/assets/an-asset.js"></script>

    {# and once indented without whitespace control #}
    <script type="text/javascript" src="Resources/assets/an-asset.js"></script>
</div>
