{# once with whitespace control #}
<script type="text/javascript" src="Resources/assets/an-asset.js"></script>
<script type="text/javascript" src="Resources/assets/an-asset.js"></script>

<div>
    {# once indented with whitespace control #}
    <script type="text/javascript" src="Resources/assets/an-asset.js"></script>
    <script type="text/javascript" src="Resources/assets/an-asset.js"></script>
</div>
